#top {background-color:beige;
}

body {
    background-color:antiquewhite;
}
.container {
    background-color:antiquewhite;
}

#head {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    color:#9b5959;
    text-transform: uppercase;
    margin-left: 6em;
}
h3 {
    color:coral;
}
h5 {
    color:cornflowerblue;
}
h6 {
    color:darkblue;
}

h2 {
    color:cornflowerblue;
    font-size: 1em;
    margin-left: 15em;
}
.me {
    border-radius: 50%;
}


#objective {
    margin-top: 11em;
    margin-bottom: 1em;
}

#educ {
    margin-top: 1em;
    margin-bottom: 1em;
}

#educ1 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#educ2 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#educ3 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#educ4 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#cocu {
    margin-top: 1em;
    margin-bottom: 1em;
}

#cocu1 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#cocu2 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#cocu3 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#cocu4 {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

#cocu5 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#sem {
    margin-top: 1em;
    margin-bottom: 1em;
}

#sem1 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#res {
    margin-top: 1em;
    margin-bottom: 1em;
}

#res1 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#res2 {
    margin-top: 0.1em;
    margin-bottom: 1em;
}

#per {
    margin-top: 1em;
    margin-bottom: 1em;
}

#refs{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#mom {
    margin-top: 1em;
    margin-bottom: 1em;
}
#angel {
    margin-top: 1em;
    margin-bottom: 1em;
}